<html>
    <head>
        <title>correct record</title>
    </head>
    <body>
        <form action="/record" method="post">
            <div>
                <textarea rows="10" cols="100" name="record">请输入错误的脱机记录</textarea>
            </div>
            <div>
                <textarea rows="5" cols="100"
                                   name="posparam">{"pos_id":"20040917","type":"SINGLE","subject":"000212","record_id":"20040917_20181018174208_00024197"}</textarea>
            </div>
            <input type="submit" value="提交">
        </form>
    </body>
</html>
